.tiny {
  font-size: 20%;
}

.small {
  font-size: 40%;
}

.medium {
  font-size: 80%;
}

.normal {
  font-size: 100%;
}

.small-margins {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}